apiVersion: v1
kind: Secret
metadata:
  name: msr-secrets
type: Opaque
data:
  MYSQL_USER: 
  MYSQL_PASSWORD: 
  ADMIN_PASSWORD: 
  SFTP_USER: 
  SFTP_PASSWORD: 

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: microservicesruntime-license-key
data:
  licensekey: |-
    XML content of MSR license

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: universalmessaging-license-key
data:
  licensekey: |-
    XML content of UM license
