kind: Secret
apiVersion: v1
metadata:
  name: stt-hello-world
data:
  ADMIN_PASSWORD: TWFuYWdlMTIz
type: Opaque

---

apiVersion: v1
kind: Secret
metadata:
  name: licenses
type: Opaque
data:
  msr-license: <the MSR license file content - base64 encoded>